name: 下载配置文件

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: 55 15 * * *

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: 准备完成
      uses: actions/checkout@v4

    - name: 下载架构编译配置文件
      run: |
        wget -O ./feeds.conf https://fw0.koolcenter.com/iStoreOS/x86_64_efi/feeds.conf
        wget -O ./.config https://fw0.koolcenter.com/iStoreOS/x86_64_efi/config.buildinfo

    - name: 同步配置
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.TOKEN }}
        publish_branch: main
        publish_dir: ./
        user_name: 'GitHub Action'
        user_email: 'github-actions[bot]@github.com'
        exclude_assets: ''
        keep_files: true
        commit_message: "Sync files"

    - name: 删除运行记录
      uses: GitRML/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 1
        token: ${{ secrets.TOKEN }}
